.hero {
    height: 100vh;
    background-image: url('../v-assets/homepage/homepage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    &-body {
        .container {
            padding-top: 100px;
            .block {
                width: 600px;
                .title {
                    font-weight: 900;
                }

                .subtitle {
                    margin-top: 5px;
                    color: $normal-text-color;
                }

                &:nth-child(2) {
                    margin-top: 40px;
                }

                .button {
                    width: 210px;
                    padding: 28px 0;
                    margin-left: 15px;
                    background-color: $button-color1;
                    color: white;
                    border: none;
                    box-shadow:
                    0.5px 10.6px 8.2px rgba(0, 0, 0, 0.037),
                    0.9px 20px 15px rgba(0, 0, 0, 0.051),
                    1.3px 28.8px 20.9px rgba(0, 0, 0, 0.06),
                    1.9px 40.8px 28px rgba(0, 0, 0, 0.071),
                    4px 86px 56px rgba(0, 0, 0, 0.1);


                }
            }
        }
    }
}