body {
  color: #998C7A !important;
}

.bold-text {
  color: #443636;
  font-weight: 900;
}

.subtitle {
  margin-top: 10px !important;
  max-width: 420px;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  color: #998C7A;
}

.section-title {
  padding-top: 80px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.grid-row-gap-large {
  grid-row-gap: 90px;
}

@media screen and (max-width: 749px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 749px) {
  .show-mobile {
    display: block !important;
  }
}

.navbar {
  padding-top: 30px;
  background-color: #EDD3C1;
}

.navbar-menu {
  margin-left: 20px;
}

.navbar-item .title {
  font-weight: 900;
}

.navbar-item.link {
  font-weight: 500;
  font-size: 18px;
}

.navbar-item.link:hover, .navbar-item.link:active, .navbar-item.link:visited, .navbar-item.link:focus-within {
  background-color: transparent !important;
  color: #998C7A;
  border: none;
}

.navbar-item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-item__wrapper img {
  width: 100%;
}

.navbar-item__wrapper span {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 14px;
  font-weight: 600;
  color: #443636;
}

.hero {
  height: 110vh;
  background-image: url("../v-assets/homepage/homepage-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
}

.hero-body .container {
  padding-top: 120px;
}

.hero-body .container .block {
  width: 600px;
}

.hero-body .container .block .title {
  font-weight: 900;
}

.hero-body .container .block .subtitle {
  margin-top: 5px;
  color: #998C7A;
}

.hero-body .container .block:nth-child(2) {
  margin-top: 40px;
}

.hero-body .container .block .button {
  width: 210px;
  padding: 26px 0;
  margin-left: 15px;
  background-color: #F6914E;
  color: white;
  border: none;
  -webkit-box-shadow: 0.5px 10.6px 8.2px rgba(0, 0, 0, 0.037), 0.9px 20px 15px rgba(0, 0, 0, 0.051), 1.3px 28.8px 20.9px rgba(0, 0, 0, 0.06), 1.9px 40.8px 28px rgba(0, 0, 0, 0.071), 4px 86px 56px rgba(0, 0, 0, 0.1);
          box-shadow: 0.5px 10.6px 8.2px rgba(0, 0, 0, 0.037), 0.9px 20px 15px rgba(0, 0, 0, 0.051), 1.3px 28.8px 20.9px rgba(0, 0, 0, 0.06), 1.9px 40.8px 28px rgba(0, 0, 0, 0.071), 4px 86px 56px rgba(0, 0, 0, 0.1);
}

.hero-lottie {
  position: absolute;
  bottom: -32%;
}

.card-image {
  background-color: #FCF4ef;
  position: relative;
  padding-bottom: 260px;
}

.card-image__body .container .block {
  text-align: center;
}

.card-image__body .card {
  max-width: 330px;
  border-radius: 6%;
  overflow: hidden;
}

.card-image__body .card-image {
  overflow: hidden;
  height: 380px;
}

.card-image__body .card-image .image img {
  -webkit-transform: scale(125%) translateY(10%);
          transform: scale(125%) translateY(10%);
  -o-object-fit: cover;
     object-fit: cover;
}

.card-image__body .card-content {
  padding: 12px;
}

.card-image__body .card-content .content {
  padding: 0 52px;
  font-size: 18px;
  font-weight: 600;
}

.card-image__body .columns {
  padding-top: 40px;
}

.card-image__body .columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-image__body .columns .column:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-image__body .columns .column:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-image__lottie {
  position: absolute;
  bottom: -345px;
}

.grid-icons {
  background-color: #FEFAF8;
  padding-bottom: 90px;
  position: relative;
}

.grid-icons__body .container:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.grid-icons__body .container:nth-child(1) .block {
  text-align: center;
}

.grid-icons__body .container:nth-child(1) .block .logo {
  width: 60px;
}

.grid-icons__body .container:nth-child(1) .block .logo img {
  width: 100%;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item:nth-child(2) {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item:nth-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item:nth-child(4) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item:nth-child(5) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item__icon {
  width: 80px;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item__icon img {
  width: 100%;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item__icon:last-child {
  width: 440px;
  position: relative;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item__icon:last-child img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
}

.grid-icons__body .container:nth-child(2) .block .grid-icons__wrapper .grid .grid-item__heading {
  display: inline-block;
  width: 220px;
  border-bottom: 3px solid #F6914E;
  padding: 10px 0;
}

.grid-icons__body .container {
  margin-top: 55px;
}

.grid-icons__body .container .block {
  text-align: center;
}

.grid-icons__body .container .block .button {
  width: 280px;
  padding: 28px 0;
  margin-left: 15px;
  background-color: #3C562C;
  color: white;
  border: none;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 10px;
  position: relative;
}

.grid-icons__lottie {
  position: absolute;
  bottom: -750px;
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
}

.mobile-info {
  display: none;
  height: 100vh;
  background-color: #EDD3C1;
}

.mobile-info .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-info .container .block {
  text-align: center;
  max-width: 390px;
}
