body {
  color: #998C7A !important;
}

.bold-text {
  color: #443636;
  font-weight: 900;
}

.section-title {
  padding-top: 80px;
}

.navbar {
  padding-top: 30px;
  background-color: #EDD3C1;
}

.navbar-menu {
  margin-left: 20px;
}

.navbar-item .title {
  font-weight: 900;
}

.navbar-item.link {
  font-weight: 500;
  font-size: 18px;
}

.navbar-item.link:hover, .navbar-item.link:active, .navbar-item.link:visited, .navbar-item.link:focus-within {
  background-color: transparent !important;
  color: #998C7A;
  border: none;
}

.navbar-item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-item__wrapper img {
  width: 100%;
}

.navbar-item__wrapper span {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 14px;
  font-weight: 600;
  color: #443636;
}

.hero {
  height: 110vh;
  background-image: url("../v-assets/homepage/homepage-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
}

.hero-body .container {
  padding-top: 120px;
}

.hero-body .container .block {
  width: 600px;
}

.hero-body .container .block .title {
  font-weight: 900;
}

.hero-body .container .block .subtitle {
  margin-top: 5px;
  color: #998C7A;
}

.hero-body .container .block:nth-child(2) {
  margin-top: 40px;
}

.hero-body .container .block .button {
  width: 210px;
  padding: 26px 0;
  margin-left: 15px;
  background-color: #F6914E;
  color: white;
  border: none;
  -webkit-box-shadow: 0.5px 10.6px 8.2px rgba(0, 0, 0, 0.037), 0.9px 20px 15px rgba(0, 0, 0, 0.051), 1.3px 28.8px 20.9px rgba(0, 0, 0, 0.06), 1.9px 40.8px 28px rgba(0, 0, 0, 0.071), 4px 86px 56px rgba(0, 0, 0, 0.1);
          box-shadow: 0.5px 10.6px 8.2px rgba(0, 0, 0, 0.037), 0.9px 20px 15px rgba(0, 0, 0, 0.051), 1.3px 28.8px 20.9px rgba(0, 0, 0, 0.06), 1.9px 40.8px 28px rgba(0, 0, 0, 0.071), 4px 86px 56px rgba(0, 0, 0, 0.1);
}

.hero-lottie {
  position: absolute;
  bottom: -32%;
}

.card-image {
  background-color: #FCF4ef;
  position: relative;
}

.card-image__body .container .block {
  text-align: center;
}

.card-image__body .container .block .subtitle {
  margin-top: 10px;
  max-width: 420px;
  display: inline-block;
  color: #998C7A;
}

.card-image__body .card {
  max-width: 330px;
  border-radius: 6%;
  overflow: hidden;
}

.card-image__body .card-image {
  overflow: hidden;
  height: 380px;
}

.card-image__body .card-image .image img {
  -webkit-transform: scale(125%) translateY(10%);
          transform: scale(125%) translateY(10%);
  -o-object-fit: cover;
     object-fit: cover;
}

.card-image__body .card-content {
  padding: 12px;
}

.card-image__body .card-content .content {
  padding: 0 52px;
  font-size: 18px;
  font-weight: 600;
}

.card-image__body .columns {
  padding: 40px 0 260px 0;
}

.card-image__body .columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-image__body .columns .column:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-image__body .columns .column:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-image__lottie {
  position: absolute;
  bottom: -335px;
}
